<h1>
  {{title}}
    <p-messages [value]="msgs"></p-messages>

    <div>
        <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info">
            Info
        </button>
        <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning">
            Warn
        </button>
        <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger">
            Danger
        </button>
        <button type="button" pButton (click)="showMultiple()" label="Multiple">
            Multiple
        </button>
        <button type="button" pButton (click)="clear()" icon="fa-close" style="float:right" label="Clear">
            Clear
        </button>
    </div>
</h1>
